<div class="row">
<% if(products){ 
	products.forEach(function(product){		
			var validSizes = product.sizes.filter(function(key) {
			  return key.stock > 0;
			});
			if(validSizes){
		%>
	<div class="col-12 col-sm-3 product-container">
		<a class="product-link" href="/products/<%=product.id%>">				
			<div class="product-image">
				<img class="img-fluid" src="/images<%=product.image%>">
			</div>
			<p>
				<h3 class="product-title"><%=product.name%></h3>
				<hr/>
				<span class="product-description"><%=product.description%></span>
			</p>
			<p>
				<ul class="product-sizes">
				<% product.sizes.forEach(function(size){
					if(size.stock>0){%>
					<li><%=size.code%></li>
				<%}});%>
				</ul>
			</p>
			<p  class="text-right">
				<span><b>$<%=product.price%></b></span>
			</p>
		</a>
	</div>
<%} }); }else{%>
	<h2>IT IS EMPTY!</h2>
<% }%>
</div>